<phpunit bootstrap="tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Base Module Tests">
            <directory>tests/T4webBaseTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
